/* 
第一：我们将页面分成12分
第二：我们选择的断点是行业标准断点
第三：我们选择的适配方案，是PC端优先
*/

/* ....这里的css样式，会在屏幕宽大于1400px时生效.... */

.col-xxl-1 {
    width: 8.333333%;
  }
  .col-xxl-2 {
    width: 16.6666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  
  .col-xxl-4 {
    width: 33.33333333%;
  }
  .col-xxl-5 {
    width: 41.66666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.33333333%;
  }
  .col-xxl-8 {
    width: 66.6666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.33333333%;
  }
  .col-xxl-11 {
    width: 91.66666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
  
  /* 当屏幕宽度大于1200px ，但小于等于1400px时，显示如下样式 */
  @media screen and (max-width: 1400px) {
    .col-xl-1 {
      width: 8.333333%;
    }
    .col-xl-2 {
      width: 16.6666667%;
    }
    .col-xl-3 {
      width: 25%;
    }
  
    .col-xl-4 {
      width: 33.33333333%;
    }
    .col-xl-5 {
      width: 41.66666667%;
    }
    .col-xl-6 {
      width: 50%;
    }
    .col-xl-7 {
      width: 58.33333333%;
    }
    .col-xl-8 {
      width: 66.6666667%;
    }
    .col-xl-9 {
      width: 75%;
    }
    .col-xl-10 {
      width: 83.33333333%;
    }
    .col-xl-11 {
      width: 91.66666667%;
    }
    .col-xl-12 {
      width: 100%;
    }
  }
  
  /* 当屏幕宽度大于992px ，但小于等于1200px时，显示如下样式 */
  @media screen and (max-width: 1200px) {
    .col-lg-1 {
      width: 8.333333%;
    }
    .col-lg-2 {
      width: 16.6666667%;
    }
    .col-lg-3 {
      width: 25%;
    }
  
    .col-lg-4 {
      width: 33.33333333%;
    }
    .col-lg-5 {
      width: 41.66666667%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33333333%;
    }
    .col-lg-8 {
      width: 66.6666667%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-10 {
      width: 83.33333333%;
    }
    .col-lg-11 {
      width: 91.66666667%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /* 当屏幕宽度大于768px ，但小于等于992px时，显示如下样式 */
  @media screen and (max-width: 992px) {
    .col-md-1 {
      width: 8.333333%;
    }
    .col-md-2 {
      width: 16.6666667%;
    }
    .col-md-3 {
      width: 25%;
    }
  
    .col-md-4 {
      width: 33.33333333%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-8 {
      width: 66.6666667%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-11 {
      width: 91.66666667%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  
  /* 当屏幕宽度大于576px ，但小于等于768px时，显示如下样式 */
  @media screen and (max-width: 768px) {
    .col-sm-1 {
      width: 8.333333%;
    }
    .col-sm-2 {
      width: 16.6666667%;
    }
    .col-sm-3 {
      width: 25%;
    }
  
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-8 {
      width: 66.6666667%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-12 {
      width: 100%;
    }
  }
  
  /* 当屏幕宽度小于等于576px时，显示如下样式 */
  @media screen and (max-width: 576px) {
    .col-1 {
      width: 8.333333%;
    }
    .col-2 {
      width: 16.6666667%;
    }
    .col-3 {
      width: 25%;
    }
  
    .col-4 {
      width: 33.33333333%;
    }
    .col-5 {
      width: 41.66666667%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58.33333333%;
    }
    .col-8 {
      width: 66.6666667%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83.33333333%;
    }
    .col-11 {
      width: 91.66666667%;
    }
    .col-12 {
      width: 100%;
    }
  }